@model RecipesApp.Models.RecipeViewModel
@{
    ViewBag.Title = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<div>
    @using (Html.BeginForm("Update", "Recipe", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongDescription)
            @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrepTime)
            @Html.EditorFor(model => model.PrepTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrepTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CookTime)
            @Html.EditorFor(model => model.CookTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CookTime, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PictureLocation)
            @Html.EditorFor(model => model.PictureLocation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PictureLocation, "", new { @class = "text-danger" })
        </div>



        <label>Categories</label>
        for (int i = 0; i < Model.Categories.Count; i++)
        {
            <div class="form-group">
                @Html.CheckBoxFor(x => Model.Categories[i].IsSelected)
                @Html.DisplayFor(x => Model.Categories[i].Name)
                @Html.HiddenFor(x => Model.Categories[i].CategoryID)
            </div>
        }

        <label>Subcategories</label>
        for (int i = 0; i < Model.Subcategories.Count; i++)
        {
            <div class="form-group">
                @Html.CheckBoxFor(x => Model.Subcategories[i].IsSelected)
                @Html.DisplayFor(x => Model.Subcategories[i].Name)
                @Html.HiddenFor(x => Model.Subcategories[i].SubcategoryID)
            </div>
        }
        @Html.HiddenFor(x => Model.RecipeID)
        @Html.HiddenFor(x => Model.RatingID)

        <input type="submit" value="Save Recipe" />
    }
</div>
