@model RecipesApp.Models.RecipeViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Recipes List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<br />
<br />

<h2>@Model.Name</h2>
<br /><br />
<div>
    @Model.Description
</div>

<div>
    @Model.LongDescription
</div>
<br />
<h3>Ingredients:</h3><br />

<table style="width:100%">
    <tr style="width:100%">
        <td style="width:40%;line-height: normal;">
            @foreach (var i in Model.ListIngredients)
            {
                <span>@i.Quantity <b>@i.Name</b></span>
                <br /><br />
            }
        </td>
        <td>
            <img style="width:50%" src="@Model.PictureLocation" alt=""></img>
        </td>
    </tr>
</table>

<h3>Instructions:</h3><br />
@{var a = 0;
    foreach (var i in Model.ListInstructions)
    {
        a++;
        <div>
            <span><i>Instruction @a:</i></span><br />
            <span>@i.InstructionText</span>
        </div> <br />

    }
}

<br /><br />
<h3>Comments:</h3><br />
@foreach (var i in Model.ListComments)
{
    <div style="border:1px solid black; padding:5px 7px;">@i.Comment</div><br />
}

@using (Html.BeginForm("View", "Recipe", FormMethod.Post))
{
    <label>
        Insert new Comment:
    </label>
    <div class="form-group">
        @Html.EditorFor(model => model.NewComment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NewComment, "", new { @class = "text-danger" })
    </div>
    @Html.HiddenFor(x => Model.RecipeID)
    <input type="submit" value="Insert Comment" />
}